.background-green {
  background-color: greenyellow;
}
.background-gold {
  background-color: gold;
}
.background-pink {
  background-color: pink;
}
.background-burlywood {
  background-color: burlywood;
}
.background-silver {
  background-color: silver;
}